---
layout: misc
title: About Me
permalink: /about/
---

<section class="about-content">
    <h2>Quotes</h2>
    <blockquote>
        "To be yourself in a world that is constantly trying to make you something else is the greatest accomplishment."  
        <br>– Ralph Waldo Emerson
    </blockquote>
    <blockquote>
        "Do I contradict myself? Very well, then I contradict myself, I am large, I contain multitudes."  
        <br>– Walt Whitman
    </blockquote>
    <blockquote>
        "A foolish consistency is the hobgoblin of little minds, adored by little statesmen and philosophers and divines. With consistency a great soul has simply nothing to do…"  
        <br>– Ralph Waldo Emerson
    </blockquote>
    <hr>

    <h2>Profile</h2>
    <p>My name is <strong>Lewis A. Connolly</strong>. I was born in Glasgow, Scotland, in 1988.</p>
    <p>As a child, I moved a lot. I grew up in Scotland, Texas, and England.</p>
    <p>I have had this website for over ten years, and in that time, my views have changed.</p>
    <p>There is a lot on here about religion. While I find religion interesting, I do not have a religious disposition.</p>
    <p>I started this website in 2015 when I was in the process of leaving the Church of England (where I was a priest) and joining the Unitarian Church to become a minister.</p>
    <p>I was a Unitarian minister for five years, primarily serving at the Ipswich Unitarian Meeting House in Suffolk, England.</p>
    <p>I subsequently moved to the United States.</p>
    <p>I’m married. My wife, Catherine Connolly, was in the process of becoming a priest while I was in the process of leaving the priesthood. She is now an Episcopalian priest here in the United States.</p>
    <p>We have kids, and I now spend most of my time running after them.</p>
    <hr>

    <h2>I Like…</h2>
    <p><strong>Films:</strong> <em>There Will Be Blood</em> (2007), <em>The Fountain</em> (2006), <em>The Good Shepherd</em> (2006) – and all the other good ones, my wife and I watch a lot of films.</p>
    <p><strong>Books:</strong> <em>The Rings of Saturn</em> by W.G. Sebald, <em>The Catcher in the Rye</em> by J.D. Salinger, <em>The Picture of Dorian Gray</em> by Oscar Wilde, <em>The Singularity Is Near</em> by Ray Kurzweil, <em>The Prince</em> by Niccolò Machiavelli, <em>The Portable Nietzsche</em> (edited by Walter Kaufmann), <em>Madness, Rack, and Honey</em> by Mary Ruefle, <em>Be Here Now</em> by Ram Dass, <em>Honest to God</em> by John Robinson, <em>Leaves of Grass</em> by Walt Whitman, <em>Crow</em> by Ted Hughes, <em>Memories, Dreams, Reflections</em> by C.G. Jung, and books on American history.</p>
    <p><strong>Other:</strong> Sparkling water, beef, beer & wine, pubs, my GeForce headphones, PC games, bookshelves, Dr. Pepper, America (controversial, I know), walking around cities, walking in general, music (folk rock, bluesy Americana, soul, indie folk, etc.), comedy, true crime podcasts, interior design, Zillow, thinking about politics, investing, rabbit holes, and writing (hence this website).</p>
    <hr>

    <h2>I Don’t Like…</h2>
    <ul>
        <li>C.S. Lewis (overrated)</li>
        <li>Small talk</li>
        <li>Running (but I do it occasionally)</li>
        <li>Waiting</li>
        <li>Driving (self-driving cars, please!)</li>
        <li>Jackie Kennedy</li>
        <li>Cold weather</li>
        <li>Anime (I don’t get it)</li>
        <li>Being told what to do</li>
        <li>Apple Inc.</li>
        <li>Classism</li>
    </ul>
    <hr>

    <h2>Qualifications & Accolades</h2>
    <ul>
        <li>Winner of the Bookmark-Making Competition at Alford Primary School, Aberdeenshire, Scotland (1994)</li>
        <li>The Horsemanship Participation Award at Camp Coyote, Walker County, Texas (1998)</li>
        <li>Head Boy at More House School, Frensham, England (2005)</li>
        <li>BA in Theology at The London School of Theology (2010)</li>
        <li>PGDip in Pastoral Theology at Westcott House, Cambridge (2013)</li>
        <li>MA (with distinction) in Jungian Studies, Essex University (2020)</li>
    </ul>
</section>