<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
</head>
<body class="post">
    <header>
        <div class="logo">
            <a href="{{ '/' | relative_url }}">
                <img src="{{ '/assets/images/logo.png' | relative_url }}" alt="Logo">
            </a>
        </div>
    </header>
    <main>
        <article>
            <h2>{{ page.title }}</h2>
            <p>{{ page.date | date: "%B %d, %Y" }}</p>
            <div>{{ content }}</div>
        </article>
    </main>
    <footer style="text-align: center; margin-top: 20px; width: 100%; border-top: 1px solid #ccc; padding: 10px 0;">
        <p>© Lewis Connolly. 2015 - <script>document.write(new Date().getFullYear());</script> All Rights Reserved ┃ Copyright</p>
    </footer>
</body>
</html>